@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
}

.user-profile {
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-image {
  display: flex;
  align-items: center;
}

.profile-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 60px;
}

.profile-details h5 {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-details p {
  font-size: 14px;
}

.profile-actions {
  margin-right: 20px;
}

.profile-info {
  margin-left: 20px;
  margin-top: 20px;
}

.profile-info p {
  margin-bottom: 8px;
}

.profile-buttons {
  margin-left: 20px;
  margin-top: 20px;
}
